<app-sticky-nav-filters />

<div>
  <div class="container-md restaurant-cards-container">
    <app-top-picks-card
      [restaurantName]="'De Bussy'"
      [imageLoc]="'../../../assets/images/restaurantImages/deBussy.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Petit Four'"
      [imageLoc]="'../../../assets/images/restaurantImages/le petit fours.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Cafe'"
      [imageLoc]="'../../../assets/images/restaurantImages/lecafe.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'De Bussy'"
      [imageLoc]="'../../../assets/images/restaurantImages/deBussy.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Petit Four'"
      [imageLoc]="'../../../assets/images/restaurantImages/le petit fours.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Cafe'"
      [imageLoc]="'../../../assets/images/restaurantImages/lecafe.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'De Bussy'"
      [imageLoc]="'../../../assets/images/restaurantImages/deBussy.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Petit Four'"
      [imageLoc]="'../../../assets/images/restaurantImages/le petit fours.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Cafe'"
      [imageLoc]="'../../../assets/images/restaurantImages/lecafe.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'De Bussy'"
      [imageLoc]="'../../../assets/images/restaurantImages/deBussy.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Petit Four'"
      [imageLoc]="'../../../assets/images/restaurantImages/le petit fours.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Cafe'"
      [imageLoc]="'../../../assets/images/restaurantImages/lecafe.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'De Bussy'"
      [imageLoc]="'../../../assets/images/restaurantImages/deBussy.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Petit Four'"
      [imageLoc]="'../../../assets/images/restaurantImages/le petit fours.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Cafe'"
      [imageLoc]="'../../../assets/images/restaurantImages/lecafe.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'De Bussy'"
      [imageLoc]="'../../../assets/images/restaurantImages/deBussy.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Petit Four'"
      [imageLoc]="'../../../assets/images/restaurantImages/le petit fours.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
    <app-top-picks-card
      [restaurantName]="'Le Cafe'"
      [imageLoc]="'../../../assets/images/restaurantImages/lecafe.jpg'"
      [rating]="4.5"
    ></app-top-picks-card>
  </div>
</div>
