p {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 1.3rem;
}

h1 {
  font-family: "SUSE", sans-serif;
  color: white;
  font-size: 3.3rem;
}

.book-button {
  background-color: red;
  border: none;
  height: 3.3rem;
  width: 10rem;
  color: white;
  font-family: "SUSE", sans-serif;
  font-weight: bolder;
  margin-right: 1rem;
}

.learn-button {
  background-color: transparent;
  border: 1px solid yellow;
  height: 3.3rem;
  width: 10rem;
  color: white;
  font-family: "SUSE", sans-serif;
  font-weight: bolder;
  margin-right: 1rem;
}
