<div class="noWaitLandingPage"> 
    
    <section class="navSection"> 
        <div class="noWaitnavbar p-1 container-md">
            <div class="logo-with-name d-flex align-items-center">
                <h3 class="noWaitLogo">NW</h3>
                <h3 class="noWaitTile px-3">NoWait - Instant Table Booking</h3>
            </div>
           
            <ul class="text-danger">
                <li >Find Food</li>
                <li>Find Restaurant</li>
                <li class="loginButton">Login/Register</li>
            </ul>
        </div>
    </section>
    

    <div class="sectionHero">

        <div class="noWaitLandingPageBody container-md">
            <div class="row flex align-items-center mt-5">
                <div class="col-md-6 flex flex-column">
                    <p class="fw-semibold">Simple way to book a table</p>
                    <h1 class="heroText">Drink,Food & Enjoy With your Family.</h1>
                    <p class="heroFooter">Quick, hot, and delicious bites—zero wait!</p>
                    <div class="herobuttons">
                        <button class="nearbyRestaurantsButton">View Nearby Restaurants</button>
                        <button class="exploreMenuButton">Explore Menu</button>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="../../assets/images/noWaitLandingPageHero.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="noWaitLandingPageFooter">
        
    </div>
</div>